@charset "UTF-8";

:root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: DM Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #000000;
    --bs-body-bg: #fff;
    --bs-background-color-theme-red: #3c8dbc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}

h1 {
    margin: 0;
    font-size: calc(1.375rem + 3vw);
    font-weight: 900;
}
h1:hover {
    color: var(--bs-background-color-theme-red);
}

p {
    font-size: calc(1.175rem + 0.4vw);
    font-weight: 200;
}
p:hover {
    color: var(--bs-background-color-theme-red);
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-dark {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-dark:hover {
    color: #fff;
    background-color: var(--bs-background-color-theme-red);
    border-color: var(--bs-background-color-theme-red);
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.3);
}

body::before {
    position: fixed;
    content: "";
    min-height: 100vh;
    min-width: 100vw;
    width: auto;
    height: auto;
    background: #222d32;
    opacity: 0.5;
    z-index: -1;
    overflow: hidden;
}

.diou-main {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.diou-main-header {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 55vw;
    height: auto;
    justify-content: center;
    padding: 0 0 0 15%;
    color: #FFF;
}

.diou-main-header ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    right: 13%;
    align-items:center;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.diou-main-header ul li {
    margin: 20%;
}
.diou-main-header ul li a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.barre-tranversal {
    position: fixed;
    min-height: 100vh;
    width: 75vw;
    height: auto;
    left: -1%;
    transform: skewX(-9deg);
    transform-origin: top right;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.diou-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -2;
}

@media screen and (max-width: 992px) {
    p {
        font-size: calc(1rem);
        font-weight: 100;
    }

    .diou-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .diou-main-header {
        min-height: 20vh;
        width: 100vw;
        padding: 1%;
        align-items: center;
    }

    .barre-tranversal {
        min-height: 20vh;
        height: 60vh;
        width: 100%;
        top: 0;
        left: 0;
        transform: skewX(0deg);
    }

    .diou-main-header ul {
        position: fixed;
        display: flex;
        flex-direction: row;
        bottom: -30%;
        right: 0;
        min-width: 100%;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    .diou-main-header ul li {
        margin: 0;
        padding: 3%;
    }
}
